# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.*.local

# Node.js
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
*.sqlite
*.db
db.sqlite3
*.sqlite3

Backend/backend/media/